/* DARK MODE */
body.dark {
  background: #131921;
  color: white;
}

body.dark .home,
body.dark .checkout,
body.dark .login {
  background: #131921;
}

body.dark .home_card,
body.dark .checkout_left,
body.dark .checkout_right,
body.dark .login_container,
body.dark .product_card {
  background: #232f3e;
  color: white;
}

body.dark input {
  background: #333;
  color: white;
  border: 1px solid #555;
}

body.dark .header {
  background: black;
}

.dark_icon {
  cursor: pointer;
  color: white;
}